<section class="instagram">
  <div class="instagram__head">
    <div class="instagram__inner">
      <h2 class="instagram__title">Следите за нами в Instagram</h2>
      <div class="instagram__login">@34play</div>
    </div>
  </div>
  <div class="instagram__slider">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="./assets/images/insta_01.jpg" alt="instagram" class="instagram__image">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/insta_02.jpg" alt="instagram" class="instagram__image">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/insta_03.jpg" alt="instagram" class="instagram__image">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/insta_04.jpg" alt="instagram" class="instagram__image">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/insta_05.jpg" alt="instagram" class="instagram__image">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/insta_06.jpg" alt="instagram" class="instagram__image">
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
