.wsf-welcome {
  padding-top: 60px;
  font-size: 28px;
  font-weight: bold;

  &__inner {
    @extend %container;
  }

  &__title {
    position: relative;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 1px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 60px;
      background-color: $brand_primary;
      border-radius: 5px;
    }
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
