<section class="hero">
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style="background-image:
        url(./assets/images/hero_image.jpg)">
        <div class="hero__inner">
          <div class="hero__block">
            <h2 class="hero__title">TRAILHEAD WEAR INDASTREE</h2>
            <div class="hero__text">
              С гордостью разработано и произведено в России
            </div>
            <div class="hero__actions">
              {{#> button link=true href="#"}}
              Мужская одежда
              {{/button}}
              {{#> button link=true href="#"}}
              Женская одежда
              {{/button}}
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:
        url(./assets/images/hero_image.jpg)">
        <div class="hero__inner">
          <div class="hero__block">
            <h2 class="hero__title">TRAILHEAD WEAR INDASTREE</h2>
            <div class="hero__text">
              С гордостью разработано и произведено в России
            </div>
            <div class="hero__actions">
              {{#> button link=true href="#"}}
              Мужская одежда
              {{/button}}
              {{#> button link=true href="#"}}
              Женская одежда
              {{/button}}
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:
        url(./assets/images/hero_image.jpg)">
        <div class="hero__inner">
          <div class="hero__block">
            <h2 class="hero__title">TRAILHEAD WEAR INDASTREE</h2>
            <div class="hero__text">
              С гордостью разработано и произведено в России
            </div>
            <div class="hero__actions">
              {{#> button link=true href="#"}}
              Мужская одежда
              {{/button}}
              {{#> button link=true href="#"}}
              Женская одежда
              {{/button}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    {{!-- <div class="swiper-scrollbar"></div> --}}
  </div>
</section>
