.logo {
  width: 126px;

  &__link {
    display: inline-block;
    vertical-align: middle;
  }

  &__img {
    display: inline-block;
    vertical-align: middle;
    width: 126px;

    @include media(tablet) {
      width: 130px;
    }
  }
}
