<section class="subscribe">
  <div class="subscribe__inner">
    <form action="#" method="POST" class="subscribe__form">
      <div class="subscribe__title">Подпишись и получи скидку 10%<span> на покупки в нашем интернет-магазине</span></div>
      <div class="subscribe__field">
        <div class="subscribe__email">
          <input type="text" placeholder="Электронная почта" class="subscribe__input">
        </div>
        <div class="subscribe__radios">
          <input class="subscribe__radio" type="radio" name="gender" id="male" checked>
          <label class="subscribe__label" for="male">Муж</label>
          <input class="subscribe__radio" type="radio" name="gender" id="female">
          <label class="subscribe__label" for="female">Жен</label>
        </div>
        <div class="subscribe__action">
          <button class="subscribe__button">Подписаться</button>
        </div>
      </div>
    </form>
  </div>
</section>
