.social {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    vertical-align: middle;

    & + & {
      margin-left: 15px;
    }
  }

  &__link {

    svg {
      fill: #484848;
    }

    &:hover {
      svg * {
        fill: lighten(#484848, 40%);
      }
    }
  }
}
