<section class="about">
  <div class="about__inner">
    <div class="about__block">
      <header class="about__head">
        <h2 class="about__title">ИНТЕРНЕТ МАГАЗИН МОДНОЙ УЛИЧНОЙ ОДЕЖДЫ</h2>
        <div class="about__logo">
          <img src="./assets/images/about_logo.png" alt="">
        </div>
      </header>
      <div class="about__body">
        34Play - это уличная молодежная одежда. Это свобода и стиль жизни. Это сеть розничных магазинов в Санкт-Петербурге и Москве, а также доставка по России и миру. 34Play - это лучшие бренды уличной и спортивной одежды: американский Converse, японский Asics, питерский Trailhead и легендарный Thrasher.
      </div>
      <div class="about__action">
        <a href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>
