.notify {
  padding: 7px 0 6px;
  background-color: #01b0cb;

  @include media(mobile) {
    display: none;
  }

  &__inner {
    @extend %container;
    position: relative;
  }

  &__message {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-right: 30px;

    b {
      font-size: 14px;
    }
  }

  &__close {
    padding: 0;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 0 none;
    position: absolute;
    right: $grid_gutter/2;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
