<header class="header">
  <div class="header__menu">
    {{> menu}}
  </div>
  <div class="header__main">
    <div class="header__inner">
      <div class="header__row">
        <div class="header__col">
          <div class="header__logo">
            {{> logo}}
          </div>
          <div class="header__nav">
            {{> nav}}
          </div>
        </div>
        <div class="header__col">
          <div class="header__phone">
            {{> phone}}
          </div>
          <div class="header__search">
            {{> search}}
          </div>
          <div class="header__cart-icon">
            {{> cart-icon}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
