<section class="features">
  <div class="features__inner">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="features__block">
            <div class="features__picture">
              <img src="./assets/images/features_icon_1.svg" alt="Feature 1">
            </div>
            <div class="feature__text">
              Курьерская доставка по всей России
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features__block">
            <div class="features__picture">
              <img src="./assets/images/features_icon_2.svg" alt="Feature 1">
            </div>
            <div class="feature__text">
              Несколько размеров на выбор и бесплатная примерка
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features__block">
            <div class="features__picture">
              <img src="./assets/images/features_icon_3.svg" alt="Feature 1">
            </div>
            <div class="feature__text">
              Удобные способы оплаты: наличные; электронные платежи
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features__block">
            <div class="features__picture">
              <img src="./assets/images/features_icon_4.svg" alt="Feature 1">
            </div>
            <div class="feature__text">
              Возврат товара в течение 14 дней
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      {{!-- <div class="swiper-pagination"></div> --}}

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      {{!-- <div class="swiper-scrollbar"></div> --}}
    </div>
  </div>
</section>
