.footer {
  position: relative;
  padding: 40px 0 55px;
  background: #232323;

  @include media(tablet) {
    padding-top: 90px;
    padding-bottom: 0;
  }

  &__inner {
    @extend %container;
  }

  &__row {
    display: flex;
    margin-left: -$grid_gutter/2;
    margin-right: -$grid_gutter/2;

    @include media(tablet) {
      flex-direction: column;
    }
  }

  &__col {
    padding: 0 $grid_gutter/2;

    &:first-child {
      flex: 1 1 0%;
      padding-right: 60px;

      @include media(desktop) {
        padding-right: 15px;
      }
    }
  }

  &__nav {
    flex: 1 1 0%;
  }

  &__bottom {
    display: flex;
    margin-top: 15px;
    margin-left: -48px;
    padding-right: 237px;
    color: #757474;
    font-size: 12px;
    line-height: 1.333333333;
    font-weight: 300;

    @include media(desktop) {
      margin-left: -30px;
    }

    @include media(tablet) {
      display: block;
      padding-right: 0;
    }
  }

  &__copyright {
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 48px;
    padding-right: 110px;

    @include media(desktop) {
      padding-left: 30px;
    }

    @include media(tablet) {
      max-width: 100%;
      margin: 15px 0;
      padding-right: 15px;
      font-size: 10px;
      text-align: center;
    }
  }

  &__reka {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 48px;

    @include media(desktop) {
      padding-left: 30px;
    }

    @include media(tablet) {
      max-width: inherit;
      background: #1D1D1D;
      margin-right: -15px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 15px;
      text-align: center;
    }

    a {
      display: inline-block;
      color: #757474;

      &:hover {
        color: #fff;
      }

      span {
        display: block;
        font-weight: 700;
        white-space: nowrap;

        @include media(tablet) {
          display: inline-block;
        }
      }
    }
  }

  &__logo {
    display: block;
    margin-bottom: 38px;

    @include media(tablet) {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: 0;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 162px;
      height: auto;

      * {
        fill: #484848;
      }
    }
  }

  &__contact {
    @include media(tablet) {
      text-align: center;
    }
  }

  &__number {

    @include media(tablet) {
      margin-top: 30px;
    }

    a {
      color: #fff;
      font-size: 27px;
      font-weight: 100;
      &:hover {
        color: #fff;
      }

      span {
        font-weight: 500;
      }
    }
  }

  &__time,
  &__mail {
    margin-top: 5px;
    color: #757474;
    font-size: 14px;
    font-weight: 100;

    @include media(tablet) {
      margin-top: 10px;
    }
  }

  &__mail {
    a {
      color: #757474;
      &:hover {
        color: lighten(#757474, 15%);
      }
    }
  }

  &__social {
    margin-top: 30px;

    @include media(tablet) {
      margin-top: 24px;
      display: flex;
      justify-content: center;
    }
  }
}
