<section class="banners">
  <div class="banners__inner">
    <ul class="banners__list">
      <li class="banners__item banners__item_01">
        <a href="#" class="banners__block " style="background-image: url(./assets/images/banners_01.jpg)"></a>
      </li>
      <li class="banners__item banners__item_02">
        <a href="#" class="banners__block " style="background-image: url(./assets/images/banners_02.jpg)"></a>
      </li>
      <li class="banners__item banners__item_03">
        <a href="#" class="banners__block " style="background-image: url(./assets/images/banners_03.jpg)"></a>
      </li>
      <li class="banners__item banners__item_04">
        <a href="#" class="banners__block " style="background-image: url(./assets/images/banners_04.jpg)"></a>
      </li>
      <li class="banners__item banners__item_05">
        <a href="#" class="banners__block " style="background-image: url(./assets/images/banners_05.jpg)"></a>
      </li>
      <li class="banners__item banners__item_06">
        <a href="#" class="banners__block " style="background-image: url(./assets/images/banners_06.jpg)"></a>
      </li>
    </ul>
  </div>
</section>
