.banners {
  &__inner {
    @extend %container;
  }

  &__list {
    position: relative;
    margin: -2.307692308% 0 0 -2.307692308%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include media(mobile) {
      margin: 0 0 0 -15px;
      justify-content: space-around;
    }
  }

  &__block {
    display: block;
    background-size: cover;
    background-position: center;

    @include media(mobile) {
      display: none;

      &_mobile {
        display: block;
        height: 100%;
      }
    }
  }

  &__item {
    padding: 2.307692308% 0 0 2.307692308%;

    @include media(mobile) {
      width: 298px !important;
      height: 470px !important;
      padding: 0 !important;
      position: static !important;
      transform: none !important;
      margin-bottom: 15px;
      margin-left: 15px;

      .banners__block {
        height: 100%;
        padding: 0 !important;
      }
    }

    &_01 {
      width: 25%;

      .banners__block {
        padding-bottom: 213.201320132%;
      }
    }

    &_02 {
      width: 50%;

      @include media(mobile) {
        order: -1;
      }

      .banners__block {
        padding-bottom: 48.503937008%;
      }
    }

    &_03 {
      width: 25%;

      .banners__block {
        padding-bottom: 158.278145695%;
      }
    }

    &_04 {
      width: 75%;

      @include media(mobile) {
        order: 1;
      }

      .banners__block {
        padding-bottom: 31.851085832%;
      }
    }

    &_05 {
      width: 25%;
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateY(-100%);

      .banners__block {
        padding-bottom: 158.278145695%;
      }
    }

    &_06 {
      width: 50%;
      position: absolute;
      bottom: 0;
      left: 25%;
      transform: translateY(-100%);

      @include media(mobile) {
        order: -1;
      }

      .banners__block {
        padding-bottom: 48.503937008%;
      }
    }
  }
}
